#osx
.DS_*
*.log

#xcode
ios/RCTUmengShare.xcodeproj/xcuserdata
ios/RCTUmengShare.xcodeproj/project.xcworkspace
ios/Build

#android
android/build
android/proguard-rules.pro
*.iml
android/gradlew
android/gradlew.bat
android/gradle
android/local.properties

#git
.npmignore

.idea
